.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translate(0, -50%);
  width: 546px;
  max-height: calc(100vh - 48px);
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 5px 20px rgba(26,26,26,.1);
  box-sizing: border-box;
  transition: max-height .8s ease;
  overflow: auto;
  background: #fff;
  border-radius: 2px;
  z-index: 999;
  outline: none;
}

.modal-large {
  width: 536px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26,26,26,.65);
  z-index: 998;
}

.modalInner {
  padding: 0 24px 32px;
  margin-top: 24px;
}