.inputWrapper {
  position: relative;
  display: flex;
  width: 180px;
  height: 34px;
  padding: 4px 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background 0.2s, border 0.2s;
  &.isFocus {
    background: #fff;
    border: 1px solid #8590a6;
  }
}

.searchBarInput {
  width: 326px;
  padding-left: 16px;
  transition: width 0.2s ease, background 0.3s ease;
}

.searchBarInput.focusedInput {
  width: 400px;
}

.inputWrapperGrey {
  background: #f6f6f6;
}

.inputAfter {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transform: translate3d(0,-50%,0);
}

.searchIcon {
  position: absolute;
  right: -11px;
  top: -17px;
  bottom: -17px;
  background: transparent;
  border: transparent;
  padding: 0 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  transition: fill .3s ease;
}